body {
  font-family: 'Meiryo UI', 'Meiryo', 'メイリオ', sans-serif;
}

body, #wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-color: #111;
}

footer {
  margin-top: auto;
}

.bg-eee {
  background-color: #eee;
}

.border-eee {
  border-color: #eee;
}